:root {
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --grey: #f2f2f2;
  --grey-1: #eeeeee;
  --grey-2: #a9a9a9;
  --grey-3: #333333;
  --grey-4: #888888;
  --grey-5: #666666;
  --blue: #81b3d2;
  --brown: #766357;
}

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--white);
}

/*Указала классы практически всем тегам на будущее, лишние потом удалю*/
.page {
  height: 100%;
}

/*Header*/

.page-body {
  min-height: 100%;
  width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {}

.navigation {
  display: grid;
  margin: 0;
  padding: 0;
}

.main-header-logo {
  justify-self: center;

}

.main-header-bar {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-link {
  font-weight: bold;
  line-height: 26px;
  color: var(--black);
  text-decoration: none;
}

/*Main*/

.container {
  text-align: center;
}

/*Photo-title*/

.container-photo-title {
  display: grid;
  width: 1200px;
  height: 509;
  margin: 0;
  padding: 0;
}

.photo {}

.welcome {
  z-index: 1;
}

/*Main-title*/

.main-title {
  margin: 0;
  padding: 0;
}

/*.main-content-title
.main-content-subtitle*/

.text-grey {
  color: var(--grey-3);
}

/* Box with advantages ang advises */

.box {
  display: grid;
}

.advantages-town {
  display: grid;
  grid-template-columns: 1fr 800px;
  align-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.background-blue {
  height: 256px;
  background-color: var(--blue);
  text-transform: uppercase;
}

.advantages-list {
  width: 400px;
  height: 256px;
}

.text-white {
  color: var(--white);
}

.advantages-title {
  font-weight: bold;
  font-size: 21px;
}

/*.advantages-number {

}
.advantages-text {

}

advantages-photo {
  
}*/


.advice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advice-title {
  font-weight: bold;
  font-size: 21px;
}

/*.advice-text {
  
}*/

.advantages-bridge {
  display: grid;
  grid-template-columns: 800px 1fr;
  align-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.background-grey {
  background-color: var(--grey-1);
}

/* Booking form*/

/*.booking*/

.booking-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

/*.booking-text*/

.search-form {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--brown);
}

.find-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--blue);
}

/*Map
.map{

}
*/

/*Main footer*/

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  text-align: center;
}

/*.telephone .hashtag*/

.contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.contacts-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-decoration: none;
}

.socials {
  list-style: none;
}

.socials-item {
  background-color: var(--blue);
}

/*.socials-link*/

.author {
  justify-self: center;
  padding-top: 38px;
}

/*
.author-link
.website-by*/

/*Классы для страницы Отели*/

.housing-parameters {
  background-color: var(--blue);
}

.infrastructure-title {
  font-weight: bold;
  font-size: 16px;
}

.type-of-housing-title {
  font-weight: bold;
  font-size: 16px;
}

/*.infrastructure-text
.type-of-housing-text*/

.prise-slider-title {
  font-weight: bold;
  font-size: 16px;
}

.show-button {
  text-transform: uppercase;
}

/*.slider
.slider-button
.sorting*/

.sorting-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting-subtitle {
  font-size: 12px;
  line-height: 18px;
}

.sorting-text-item {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.3;
  list-style: none;
}

.sorting-text-item :hover {
  color: #81B3D2;
}

.up-and-down {
  list-style: none;
}

.hotel-results {
  list-style: none;
}

.hotel-items {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.detail-button {
  background-color: var(--blue);
}

.booking-button {
  background-color: var(--brown);
  text-transform: uppercase;
}

/*.hotel-rating*/
.rating {
  color: var(--grey-5);
  background-color: #f2f2f2;
}

.stars {
  list-style: none;
}
