:root {
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --grey: #f2f2f2;
  --grey-1: #eeeeee;
  --grey-2: #a9a9a9;
  --grey-3: #333333;
  --grey-4: #888888;
  --grey-5: #666666;
  --blue: #81b3d2;
  --brown: #766357;
}

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--white);
}

/*Указала классы практически всем тегам на будущее, лишние потом удалю*/
.page {
  height: 100%;
}

/*Header*/

.page-body {
  display: grid;
  min-height: 100%;
  width: 1200px;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
}

.main-header {}

.navigation {
  margin: 0;
  padding: 0;
}

.main-header-logo {
  display: flex;
  
  justify-content: center;
}

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-link {
  font-weight: bold;
  line-height: 26px;
  color: var(--black);
  text-decoration: none;
}

/*Main*/

.container {
  text-align: center;
}

/*Photo-title*/

.container-photo-title {
  margin: 0;
  padding: 0;
  background: url('../img/background-sedona.jpg');
}

.photo {}

.welcome {}

/*Main-title*/

.main-title {
  margin: 0;
  padding: 0;
}

/*.main-content-title
.main-content-subtitle*/

.text-grey {
  color: var(--grey-3);
}

/* Box with advantages ang advises */

.box {}

.advantages-town {
  display: grid;
  grid-template-columns: 1fr 800px;
  align-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.background-blue {
  height: 256px;
  background-color: var(--blue);
  text-transform: uppercase;
}

.advantages-list {}

.text-white {
  color: var(--white);
}

.advantages-title {
  font-weight: bold;
  font-size: 21px;
}

/*.advantages-number {

}
.advantages-text {

}

advantages-photo {
  
}*/


.advice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advice-title {
  font-weight: bold;
  font-size: 21px;
}

/*.advice-text {
  
}*/

.advantages-bridge {
  display: grid;
  grid-template-columns: 800px 1fr;
  align-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.background-grey {
  background-color: var(--grey-1);
}

/* Booking form*/

/*.booking*/

.booking-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

/*.booking-text*/

.search-form {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--brown);
}

.find-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--blue);
}

/*Map
.map{

}
*/

/*Main footer*/

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

/*.telephone .hashtag*/

.contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.contacts-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-decoration: none;
}

.socials {
  
  list-style: none;
  
}

.socials-item {
  display: grid;
  display: inline;
  background-color: var(--blue);
}

/*.socials-link*/

.author {
  justify-self: center;
  padding-top: 38px;
}

/*
.author-link
.website-by*/

/*Hotels's class*/

.main-content {}

.housing-parameters {
  background-color: var(--blue);
  background: url('../img/background-hotels.jpg');
}

.sorting {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.infrastructure {}

.infrastructure-title {
  font-weight: bold;
  font-size: 16px;
  display: block;
}

.infrastructure-list {
  display: block;
}

.type-of-housing {}

.type-of-housing-title {
  font-weight: bold;
  font-size: 16px;
}

/*.infrastructure-text
.type-of-housing-text
.slider*/

.prise-slider-title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.show-button {
  color: var(--white);
  text-transform: uppercase;
}

.sorting-result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }

.result {
 
}

.sorting-title {
  float: left;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting-subtitle {
  float: left;
  font-size: 12px;
  line-height: 18px;
}

.sorting-text-item {
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.3;
  list-style: none;
}

/*.sorting-text-item-price
.sorting-text-item-type
.sorting-text-item-rating*/

.sorting-text-item :hover {
  color: #81B3D2;
}

.up-and-down {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: end;
  list-style: none;
}

.up {}

.down {}

.hotel-results {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  list-style: none;
}

/*Amara*/

.hotel-amara {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.amara {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  align-content: start;
}

.photo-amara {}

.info-amara {}

.hotel-items {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.amara-span {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detail-button {
  margin: 3px;
border: 0px;
  color: var(--white);
  background-color: var(--blue);
}

.booking-button {
  margin: 3px;
  border: 0px;
  color: var(--white);
  background-color: var(--brown);
  text-transform: uppercase;
}

.hotel-rating {
  
}

.rating {
  color: var(--grey-5);
  background-color: #f2f2f2;
  
}

.amara-stars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}

/*Desert*/

.hotel-desert {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.desert {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  align-content: start;
}

.photo-desert {}

.info-desert {}

.desert-span {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.desert-stars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: end;
  list-style: none;
}

/*Villas*/

.hotel-villas {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.villas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  align-content: start;
}

.photo-villas {}

.info-villas {}

.villas-span {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.villas-stars {
  display: grid;
  grid-template-columns: 1fr 1fr;
 
  list-style: none;
}